openapi: 3.0.0
info:
  version: '1.1.4'
  title: Vipps signup API
  description: |+
    Vipps Signup API enables a partner to initiate Vipps onboarding process on behalf of a merchant. The merchant needs to complete Vipps signup form to sign the merchant agreement with Vipps. After the signup form has been processed, Vipps will send the API keys to the defined callback endpoint. In order to complete the integration there is a need to:
    1. Initiate the Signup to the Initiate endpoint
    2. Accept the callback sent to the callback endpoint
    3. Return a 202 response to acknowledge that the callback has been accepted.

tags:
  - name: Signup
paths:
  /v1/partial/signup:
    post:
      tags:
        - Signup
      summary: Create a signup
      description: 'Initiate the signup in Vipps on behalf of a merchant for Vipps ecommerce. In the test environment it is recommended to use the provided example values for partnerId and subscriptionPackageId. For production values, contact Vipps.'
      operationId: partialSignup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partialSignup'
        description: partialSignup
        required: true
      responses:
        '201':
          description: Response for partial signup
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/partialSignupResponse'
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '404':
          description: Resource Not Found
        '500':
          description: Internal Server Error
  /signupcallbackURL:
    post:
      tags:
        - Signup Callback
      summary: Sent Callback
      description: The callback that is sent after the merchant's sale unit has been created.
      operationId: callback
      parameters:
        - in: header
          name: Authorization
          description: Token is an exact copy of SignupCallbackToken. SignupCallbackToken is provided by the partner in partial signup request. Used so that the partner may authenticate the callback.
          required: false
          schema:
            type: string
            format: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callbackTriggerResponse'
        description: callback
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
servers:
  - url: 'https://api.vippsbedrift.no'
  - url: 'https://api-test.vippsbedrift.no'
components:
  schemas:
    partialSignup:
      type: object
      required:
        - orgnumber
        - partnerId
        - subscriptionPackageId
        - signupCallbackUrl
        - merchantWebsiteUrl
        - form-type
      properties:
        orgnumber:
          type: string
          description: Norwegian Organization Number
          example: '996348954'
        partnerId:
          type: string
          description: PartnerID to identify the partner. Provided by Vipps when the partnership is established.
          example: '265536'
        subscriptionPackageId:
          type: string
          description: The id of the partner's price package that will be used for this merchant.
          example: '928'
        signupCallbackUrl:
          type: string
          description: The URL that the callback will be sent to.
          example: 'https://example.com/vipps/callback'
        signupCallbackToken:
          type: string
          description: The token Vipps will use in the HTTP header to authenticate the callback to the partner's `signupCallbackUrl`.
          example: c00be7de-64c4-11e8-adc0-fa7ae01bbebc
        merchantWebsiteUrl:
          type: string
          description: The merchant website URL.
          example: 'https://www.example.com/'
        form-type:
          type: string
          description: The type of the form. Only 'vippspanett' is supported.
          example: vippspanett
    partialSignupResponse:
      type: object
      required:
        - signup-id
        - vippsURL
      properties:
        signup-id:
          type: string
          description: The unique id per signup request.
          example: 81b83246-5c19-7b94-875b-ea6d1114f099
        vippsURL:
          type: string
          description: The redirect URL to complete the signup.
          example: 'https://vippsbedrift.no/signup/vippspanett/?r=81b83246-5c19-7b94-875b-ea6d1114f099'
    callbackTriggerResponse:
      type: object
      required:
        - signup-id
        - vippsURL
      properties:
        signup-id:
          type: string
          description: The unique ID per signup request.
          example: 81b83246-5c19-7b94-875b-ea6d1114f099
        orgnumber:
          type: string
          description: The merchant's Norwegian organization number.
          example: '996348954'
        merchant-name:
          type: string
          description: The merchant's name.
          example: Merchant AS
        createdTime:
          type: string
          description: createdTime
          example: '00:00:00'
        merchantSerialNumber:
          type: string
          format: string
          description: The merchant's merchant serial number (MSN).
          example: '123456'
        client_Id:
          type: string
          format: guid
          description: clientId
          example: 51358942-08c8-4d50-99f4-a9aa970b5f5b
        client_Secret:
          type: string
          format: guid
          description: clientSecret
          example: verysecret123
        subscriptionKeys:
          $ref: '#/components/schemas/subscriptionKeys'
    subscriptionKeys:
      type: array
      items:
        type: object
        properties:
          product:
            type: string
          ocp-apim-subscription-key:
            type: string
      example:
        - product: Access
          ocp-apim-subscription-key: de897dbb-0cd3-4445-b003-ac8214ac4638
        - product: Ecommerce
          ocp-apim-subscription-key: de897dbb-0cd3-4445-b003-ac8214ac4638
