swagger: '2.0'
info:
  version: '1.0'
  title: Vipps signup API
  description:  >+
      Vipps Signup API enables a partner to initiate Vipps onboarding process on behalf of a merchant. The merchant needs to complete Vipps signup form to sign the merchant agreement with Vipps. After a successful signup Vipps will send the API keys to the defined callback endpoint. In order to complete the integration there is a need to:

      1. Initiate the Signup to the Initiate endpoint

      2. Accept the callback sent to the callback endpoint

host: api.vippsbedrift.no
basePath: /
schemes:
  - https
tags:
  - name: Signup
paths:
  /v1/partial/signup:
    post:
      tags:
        - Signup
      summary: Create a signup
      description: >-
        Used to initiate the signup in Vipps on behalf of a merchant for Vipps
        ecommerce
      operationId: partialSignup
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - in: body
          name: partialSignup
          description: partialSignup
          required: true
          schema:
            $ref: '#/definitions/partialSignup'
      responses:
        '201':
          description: Response for partial signup
          schema:
            $ref: '#/definitions/partialSignupResponse'
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '404':
          description: Resource Not Found
        '500':
          description: Internal Server Error
  /v1/test/callbackTrigger:
    post:
      tags:
        - Signup Test
      summary: Test a signup
      description: >-
        Used to initiate the signup in Vipps on behalf of a merchant for Vipps
        ecommerce
      operationId: callbackResponse
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - in: body
          name: callbackTrigger
          description: callbackTrigger
          required: true
          schema:
            $ref: '#/definitions/callbackTriggerRequest'
      responses:
        '200':
          description: Response for callBackTrigger
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '404':
          description: Resource Not Found
        '500':
          description: Internal Server Error
  /signupcallbackURL:
    post:
      tags:
        - Signup Test
      summary: Sent Callback
      description: >-
        Used to initiate the signup in Vipps on behalf of a merchant for Vipps
        ecommerce
      operationId: callback
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - in: header
          name: Authorization
          description: SignupCallbackToken from partial signup request
          required: true
          type: string
          format: guid
        - in: body
          name: partialSignup
          description: partialSignup
          required: true
          schema:
            $ref: '#/definitions/callbackTriggerResponse'
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"
        503:
          description: "Service unavailable"
        504:
          description: "Gateway Timeout"
definitions:
  partialSignup:
    type: object
    required:
      - "orgnumber"
      - "partnerId"
      - "subscriptionPackageId"
      - "signupCallbackUrl"
      - "form-type"
    properties:
      orgnumber:
        type: string
        description: Norwegian Organization Number
        example: "996348954"
      partnerId:
        type: string
        description: PartnerID given by Vipps
        example: "99880088"
      subscriptionPackageId:
        type: string
        description: Price package to be used for merchant
        example: "826"
      signupCallbackUrl:
        type: string
        example: "https://test.vipps.no/callback"
      signupCallbackToken:
        type: string
        example: "c00be7de-64c4-11e8-adc0-fa7ae01bbebc"
      merchantWebsiteUrl:
        type: string
        description: Merchant website
        example: "https://www.vipps.no/"
      form-type:
        type: string
        example: "vippspanett"
  partialSignupResponse:
    type: object
    required:
      - "signup-id"
      - "vippsURL"
    properties:
      signup-id:
        type: string
        description: Unique ID per signup request
        example: "81b83246-5c19-7b94-875b-ea6d1114f099"
      vippsURL:
        type: string
        description: Redirect URL to complete the sign-up
        example: "https://vippsbedrift.no/signup/vippspanett/?r=81b83246-5c19-7b94-875b-ea6d1114f099"
  callbackTriggerRequest:
    type: object
    required:
      - "signupCallbackUrl"
    properties:
      signupCallbackUrl:
        type: string
        description: Url
        example: "https://partner.com/callbackreceiver"
      signupCallbackToken:
        type: string
        description: Guid
        example: "c00be7de-64c4-11e8-adc0-fa7ae01bbebc"
  callbackTriggerResponse:
    type: object
    required:
      - "signup-id"
      - "vippsURL"
    properties:
      signup-id:
        type: string
        description: Unique ID per signup request
        example: "81b83246-5c19-7b94-875b-ea6d1114f099"
      orgnumber:
        type: string
        description: Redirect URL to complete the sign-up
        example: "692493206"
      merchant-name:
        type: string
        description: Merchant Name
        example: "Vipps"
      createdTime:
        type: string
        description: createdTime
        example: "00:00:00"
      merchantSerialNumber:
        type: string
        format: string
        description: merchantSerialNumber
      client_Id:
        type: string
        format: guid
        description: clientId
      client_Secret:
        type: string
        format: guid
        description: clientSecret
      subscriptionKeys:
        $ref: '#/definitions/subscriptionKeys'
  subscriptionKeys:
   type: array
   items:
        type: object
        properties:
          product:
            type: string
          ocp-apim-subscription-key:
            type: string
          secondary-ocp-apim-subscription-key:
            type: string
   example:
        - product: Access
          ocp-apim-subscription-key: string
          secondary-ocp-apim-subscription-key: string
        - product: Ecommerce
          ocp-apim-subscription-key: string
          secondary-ocp-apim-subscription-key: string
  subscriptionKeyAccess:
   type: object
   required:
      - product
      - ocp-apim-subscription-key
      - secondary-ocp-apim-subscription-key
   properties:
      product:
        example: Access
        type: string
        format: string
        description: AccessProduct
      ocp-apim-subscription-key:
        type: string
        format: guid
        description: Ocp-apim-subscription-key
      secondary-ocp-apim-subscription-key:
        type: string
        format: guid
        description: Secondary-ocp-apim-subscription-key
  subscriptionKeyEcommerce:
   type: object
   required:
      - product
      - ocp-apim-subscription-key
      - secondary-ocp-apim-subscription-key
   properties:
      product:
        example: Ecommerce
        type: string
        format: string
        description: AccessProduct
      ocp-apim-subscription-key:
        type: string
        format: guid
        description: Ocp-apim-subscription-key
      secondary-ocp-apim-subscription-key:
        type: string
        format: guid
        description: Secondary-ocp-apim-subscription-key
  AuthorizationTokenResponse:
    type: object
    properties:
      token_type:
        type: string
      access_token:
        type: string
      ext_expires_in:
        type: integer
      not_before:
        type: integer
      expires_in:
        type: integer
        format: int32
      resource:
        type: string
