swagger: '2.0'
info:
  version: '1.0'
  title: Vipps signup API
  description:  >+
    # Authentication

    Every API call is authenticated and authorized based on the application
    Authorization token (JWT Bearer token) and APIM subscription key
    (Ocp-Apim-Subscription-Key). In addition, APP Id need to be provided in
    request header in order to authenticate the application the merchant has
    registered. Following headers are required to be there in every API request
    to successfully authenticate every API call.

      | **Header Name** | **Header Value** | **Description** |
      | :-------------------------- | :--------------------------- | :--------------------------------------------- |
      | Authorization | Bearer 'jwt_access_token'' | type: Authorization token<br>Value: Access token is obtained by registering merchant backend application in Merchant Developer Portal. |
      | Ocp-Apim-Subscription-Key | Base 64 encoded string | Subscription key for product.<br>This can be found in User Profile page on Merchant developer portal after merchant account is created |

host: api.vippsbedrift.no
basePath: /
schemes:
  - https
tags:
  - name: Authorization Service
  - name: Signup
paths:
  /accesstoken/get:
    post:
      tags:
        - Authorization Service
      summary: Fetch authorization token
      parameters:
        - name: client_id
          in: header
          description: Client ID received when merchant registered the application
          required: false
          type: string
          format: guid
        - name: client_secret
          in: header
          description: Client Secret received when merchant registered the application
          required: false
          type: string
        - name: ocp-apim-subscription-key
          in: header
          description: >-
            Subscription key for access product. This can be found in User
            Profile page on Merchant developer portal after merchant account is
            created
          required: false
          type: string
      description: >-
        Authorization token API endpoint helps to get the JWT Bearer token that
        needs to be passed in every API request in the authorization header. The
        merchant application use the API to get a JWT access token. JWT access
        token is a base 64 encoded string value that must be aquire first before
        making any Vipps api calls
      operationId: fetchAuthorizationTokenUsingPost
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthorizationTokenResponse'
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '401':
          description: Unauthorized
        '402':
          description: Payment Failed
        '403':
          description: Request Forbidden
        '404':
          description: Resource Not Found
        '405':
          description: Request method not supported
        '415':
          description: Unsupported media type
        '500':
          description: Something went wrong from Vipps Server side
  /v1/partial/signup:
    post:
      tags:
        - Signup
      summary: Create a signup
      description: >-
        Used to initiate the signup in Vipps on behalf of a merchant for Vipps
        ecommerce
      operationId: partialSignup
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - in: header
          name: Authorization
          description: Bearer Accesstoken
          required: true
          type: string
        - in: body
          name: partialSignup
          description: partialSignup
          required: true
          schema:
            $ref: '#/definitions/partialSignup'
      responses:
        '201':
          description: Response for partial signup
          schema:
            $ref: '#/definitions/partialSignupResponse'
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '404':
          description: Resource Not Found
        '500':
          description: Internal Server Error

  /v1/test/callbackTrigger:
    post:
      tags:
        - Signup Test
      summary: Test a signup
      description: >-
        Used to initiate the signup in Vipps on behalf of a merchant for Vipps
        ecommerce
      operationId: callbackResponse
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - in: header
          name: Authorization
          description: SignupCallbackToken
          required: true
          type: string
          format: guid
        - in: body
          name: partialSignup
          description: partialSignup
          required: true
          schema:
            $ref: '#/definitions/callbackTriggerRequest'
      responses:
        '201':
          description: Response for partial signup
          schema:
            $ref: '#/definitions/callbackTriggerResponse'
        '400':
          description: Bad request (Missing a required parameter or Bad request formats)
        '404':
          description: Resource Not Found
        '500':
          description: Internal Server Error
definitions:
  partialSignup:
    type: object
    required:
      - "orgnumber"
      - "partnerId"
      - "subscriptionPackageId"
      - "signupCallbackUrl"
      - "form-type"
    properties:
      orgnumber:
        type: string
        description: Norwegian Organization Number
        example: "996348954"
      partnerId:
        type: string
        description: PartnerID given by Vipps
        example: "99880088"
      subscriptionPackageId:
        type: string
        description: Price package to be used for merchant
        example: "826"
      signupCallbackUrl:
        type: string
        example: "https://test.vipps.no/callback"
      signupCallbackToken:
        type: string
        example: "c00be7de-64c4-11e8-adc0-fa7ae01bbebc"
      merchantWebsiteUrl:
        type: string
        description: Merchant website
        example: "https://www.vipps.no/"
      form-type:
        type: string
        example: "vippspanett"
  partialSignupResponse:
    type: object
    required:
      - "signup-id"
      - "vippsURL"
    properties:
      signup-id:
        type: string
        description: Unique ID per signup request
        example: "81b83246-5c19-7b94-875b-ea6d1114f099"
      vippsURL:
        type: string
        description: Redirect URL to complete the sign-up
        example: "https://vippsbedrift.no/signup/vippspanett/?r=81b83246-5c19-7b94-875b-ea6d1114f099"
  callbackTriggerRequest:
    type: object
    required:
      - "signupCallbackUrl"
      - "vippsURL"
    properties:
      signupCallbackUrl:
        type: string
        description: Url
        example: "https://partner.com/callbackreceiver"
  callbackTriggerResponse:
    type: object
    required:
      - "signup-id"
      - "vippsURL"
    properties:
      signup-id:
        type: string
        description: Unique ID per signup request
        example: "81b83246-5c19-7b94-875b-ea6d1114f099"
      orgnumber:
        type: string
        description: Redirect URL to complete the sign-up
        example: "692493206"
      merchant-name:
        type: string
        description: Merchant Name
        example: "Vipps"
      createdTime:
        type: string
        description: createdTime
        example: "00:00:00"
      merchantSerialNumber:
        type: string
        format: string
        description: merchantSerialNumber
      client_Id:
        type: string
        format: guid
        description: clientId
      client_Secret:
        type: string
        format: guid
        description: clientSecret
      subscriptionKeys:
        $ref: '#/definitions/subscriptionKeys'
  subscriptionKeys:
   type: array
   items:
        type: object
        properties:
          product:
            type: string
          ocp-apim-subscription-key:
            type: string
          secondary-ocp-apim-subscription-key:
            type: string
   example:
        - product: Access
          ocp-apim-subscription-key: string
          secondary-ocp-apim-subscription-key: string
        - product: Ecommerce
          ocp-apim-subscription-key: string
          secondary-ocp-apim-subscription-key: string
  subscriptionKeyAccess:
   type: object
   required:
      - product
      - ocp-apim-subscription-key
      - secondary-ocp-apim-subscription-key
   properties:
      product:
        example: Access
        type: string
        format: string
        description: AccessProduct
      ocp-apim-subscription-key:
        type: string
        format: guid
        description: Ocp-apim-subscription-key
      secondary-ocp-apim-subscription-key:
        type: string
        format: guid
        description: Secondary-ocp-apim-subscription-key
  subscriptionKeyEcommerce:
   type: object
   required:
      - product
      - ocp-apim-subscription-key
      - secondary-ocp-apim-subscription-key
   properties:
      product:
        example: Ecommerce
        type: string
        format: string
        description: AccessProduct
      ocp-apim-subscription-key:
        type: string
        format: guid
        description: Ocp-apim-subscription-key
      secondary-ocp-apim-subscription-key:
        type: string
        format: guid
        description: Secondary-ocp-apim-subscription-key
  AuthorizationTokenResponse:
    type: object
    properties:
      token_type:
        type: string
      access_token:
        type: string
      ext_expires_in:
        type: integer
      not_before:
        type: integer
      expires_in:
        type: integer
        format: int32
      resource:
        type: string
