{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Vipps signup API",
    "description": "Vipps Signup API enables a partner to initiate Vipps onboarding process on behalf of a merchant. The merchant needs to complete Vipps signup form to sign the merchant agreement with Vipps. After the signup form has been processed, Vipps will send the API keys to the defined callback endpoint. In order to complete the integration there is a need to:\n1. Initiate the Signup to the Initiate endpoint\n2. Accept the callback sent to the callback endpoint\n3. Return a 202 response to acknowledge that the callback has been accepted.\n\n"
  },
  "tags": [
    {
      "name": "Signup"
    }
  ],
  "paths": {
    "/v1/partial/signup": {
      "post": {
        "tags": [
          "Signup"
        ],
        "summary": "Create a signup",
        "description": "Used to initiate the signup in Vipps on behalf of a merchant for Vipps ecommerce. In the test environment a dummy value can be used as partnerId and subscriptionPackageId. For production values, contact Vipps.",
        "operationId": "partialSignup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partialSignup"
              }
            }
          },
          "description": "partialSignup",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response for partial signup",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/partialSignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (Missing a required parameter or Bad request formats)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/test/callbackTrigger": {
      "post": {
        "tags": [
          "Signup Test"
        ],
        "summary": "Test a signup",
        "description": "Used to test the callback from Vipps. The callback is sent after the merchant has signed the agreement, the signup has been processed, and the sale unit has been created.",
        "operationId": "callbackResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/callbackTriggerRequest"
              }
            }
          },
          "description": "callbackTrigger",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for callBackTrigger"
          },
          "400": {
            "description": "Bad request (Missing a required parameter or Bad request formats)"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/signupcallbackURL": {
      "post": {
        "tags": [
          "Signup Test"
        ],
        "summary": "Sent Callback",
        "description": "The callback that is sent after the merchant's sale unit has been created.",
        "operationId": "callback",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Token is created as 'Bearer ' followed by SignupCallbackToken. SignupCallbackToken is provided by the partner in partial signup request. Used so that the partner may authenticate the callback.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/callbackTriggerResponse"
              }
            }
          },
          "description": "callback",
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.vippsbedrift.no"
    },
    {
      "url": "https://api-test.vippsbedrift.no"
    }
  ],
  "components": {
    "schemas": {
      "partialSignup": {
        "type": "object",
        "required": [
          "orgnumber",
          "partnerId",
          "subscriptionPackageId",
          "signupCallbackUrl",
          "merchantWebsiteUrl",
          "form-type"
        ],
        "properties": {
          "orgnumber": {
            "type": "string",
            "description": "Norwegian Organization Number",
            "example": "996348954"
          },
          "partnerId": {
            "type": "string",
            "description": "PartnerID given by Vipps",
            "example": "99880088"
          },
          "subscriptionPackageId": {
            "type": "string",
            "description": "Price package to be used for merchant given by Vipps",
            "example": "826"
          },
          "signupCallbackUrl": {
            "type": "string",
            "description": "Url that the callback will be sent to",
            "example": "https://test.vipps.no/callback"
          },
          "signupCallbackToken": {
            "type": "string",
            "description": "Token to authenticate the callback",
            "example": "c00be7de-64c4-11e8-adc0-fa7ae01bbebc"
          },
          "merchantWebsiteUrl": {
            "type": "string",
            "description": "Merchant website",
            "example": "https://www.vipps.no/"
          },
          "form-type": {
            "type": "string",
            "description": "The type of the form",
            "example": "vippspanett"
          }
        }
      },
      "partialSignupResponse": {
        "type": "object",
        "required": [
          "signup-id",
          "vippsURL"
        ],
        "properties": {
          "signup-id": {
            "type": "string",
            "description": "Unique ID per signup request",
            "example": "81b83246-5c19-7b94-875b-ea6d1114f099"
          },
          "vippsURL": {
            "type": "string",
            "description": "Redirect URL to complete the sign-up",
            "example": "https://vippsbedrift.no/signup/vippspanett/?r=81b83246-5c19-7b94-875b-ea6d1114f099"
          }
        }
      },
      "callbackTriggerRequest": {
        "type": "object",
        "required": [
          "signupCallbackUrl"
        ],
        "properties": {
          "signupCallbackUrl": {
            "type": "string",
            "description": "Url",
            "example": "https://partner.com/callbackreceiver"
          },
          "signupCallbackToken": {
            "type": "string",
            "description": "Guid",
            "example": "c00be7de-64c4-11e8-adc0-fa7ae01bbebc"
          }
        }
      },
      "callbackTriggerResponse": {
        "type": "object",
        "required": [
          "signup-id",
          "vippsURL"
        ],
        "properties": {
          "signup-id": {
            "type": "string",
            "description": "Unique ID per signup request",
            "example": "81b83246-5c19-7b94-875b-ea6d1114f099"
          },
          "orgnumber": {
            "type": "string",
            "description": "Norwegian Organization Number",
            "example": "692493206"
          },
          "merchant-name": {
            "type": "string",
            "description": "Merchant Name",
            "example": "Vipps"
          },
          "createdTime": {
            "type": "string",
            "description": "createdTime",
            "example": "00:00:00"
          },
          "merchantSerialNumber": {
            "type": "string",
            "format": "string",
            "description": "merchantSerialNumber",
            "example": "123456"
          },
          "client_Id": {
            "type": "string",
            "format": "guid",
            "description": "clientId",
            "example": "51358942-08c8-4d50-99f4-a9aa970b5f5b"
          },
          "client_Secret": {
            "type": "string",
            "format": "guid",
            "description": "clientSecret",
            "example": "verysecret123"
          },
          "subscriptionKeys": {
            "$ref": "#/components/schemas/subscriptionKeys"
          }
        }
      },
      "subscriptionKeys": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "product": {
              "type": "string"
            },
            "ocp-apim-subscription-key": {
              "type": "string"
            }
          }
        },
        "example": [
          {
            "product": "Access",
            "ocp-apim-subscription-key": "de897dbb-0cd3-4445-b003-ac8214ac4638"
          },
          {
            "product": "Ecommerce",
            "ocp-apim-subscription-key": "1c4c46ed-63c0-4390-be7f-adca4b3bf95b"
          }
        ]
      },
      "subscriptionKeyAccess": {
        "type": "object",
        "required": [
          "product",
          "ocp-apim-subscription-key"
        ],
        "properties": {
          "product": {
            "example": "Access",
            "type": "string",
            "format": "string",
            "description": "AccessProduct"
          },
          "ocp-apim-subscription-key": {
            "type": "string",
            "format": "guid",
            "description": "Ocp-apim-subscription-key"
          }
        }
      },
      "subscriptionKeyEcommerce": {
        "type": "object",
        "required": [
          "product",
          "ocp-apim-subscription-key"
        ],
        "properties": {
          "product": {
            "example": "Ecommerce",
            "type": "string",
            "format": "string",
            "description": "AccessProduct"
          },
          "ocp-apim-subscription-key": {
            "type": "string",
            "format": "guid",
            "description": "Ocp-apim-subscription-key"
          }
        }
      },
      "AuthorizationTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string"
          },
          "access_token": {
            "type": "string"
          },
          "ext_expires_in": {
            "type": "integer"
          },
          "not_before": {
            "type": "integer"
          },
          "expires_in": {
            "type": "integer",
            "format": "int32"
          },
          "resource": {
            "type": "string"
          }
        }
      }
    }
  }
}